@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

.PhoneInputInput {
  height: 40px;
  background-color: rgb(243 244 246);
  border: 1px solid rgb(var(--neutral300-rgb,224,224,224));
  border-radius: 4px;
  overflow: hidden;
}

.PhoneInput {
  padding: 14px 0;
}

input:invalid {
  border-color: #900;
  background-color: #fdd;
}

input:focus:invalid {
  outline: none;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
  scrollbar-width: none; /* Firefox */
}

.node__root > circle {
  fill: red;
}

.node__branch > circle {
  fill: yellow;
}

.node__leaf > circle {
  fill: green;
  r: 40;
}

.custom-link {
  fill: red;
  width: 200px;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}
.typing-effect {
  display: inline-block;
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  letter-spacing: .15em;
  animation: typing 2s steps(30, end), blink-caret .75s step-end infinite;
}

@keyframes gradient-x {
  0%, 100% {
    background-position-x: 0%;
  }
  50% {
    background-position-x: 100%;
  }
}

@keyframes gradient-y {
  0%, 100% {
    background-position-y: 0%;
  }
  50% {
    background-position-y: 100%;
  }
}

.bg-gradient-x {
  background-image: linear-gradient(90deg, #f472b6, #8b5cf6, #f472b6);
  background-size: 200% 100%;
  animation: gradient-x 15s ease infinite;
}

.bg-gradient-y {
  background-image: linear-gradient(0deg, #f472b6, #8b5cf6, #f472b6);
  background-size: 100% 200%;
  animation: gradient-y 10s ease infinite;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
 
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
 
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
 
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
 
    --radius: 0.5rem;
    --color-text-2: #fff;
    --color-bg-2: #ccc0a3;
    --color-link-2: #1c386f;
    --color-link-hover-2: #fff;

    --color-item-bg: linear-gradient(120deg, #a8edea 0%, #fed6e3 100%);
    --color-action: #121019;
    --color-button-bg: #121019;
    --color-button-text: #fff;
    --button-padding: 1.5rem 3rem;
    --radius-button: 5px;
    --border-button: 0;
    --background-color: #18181B;
    --text-color: #A1A1AA;
    --card-background-color: rgba(255, 255, 255, .015);
    --card-border-color: rgba(255, 255, 255, 0.1);
    --card-box-shadow-1: rgba(0, 0, 0, 0.05);
    --card-box-shadow-1-y: 3px;
    --card-box-shadow-1-blur: 6px;
    --card-box-shadow-2: rgba(0, 0, 0, 0.1);
    --card-box-shadow-2-y: 8px;
    --card-box-shadow-2-blur: 15px;
    --card-label-color: #FFFFFF;
    --card-icon-color: #D4D4D8;
    --card-icon-background-color: rgba(255, 255, 255, 0.08);
    --card-icon-border-color: rgba(255, 255, 255, 0.12);
    --card-shine-opacity: .1;
    --card-shine-gradient: conic-gradient(from 205deg at 50% 50%, rgba(16, 185, 129, 0) 0deg, #10B981 25deg, rgba(52, 211, 153, 0.18) 295deg, rgba(16, 185, 129, 0) 360deg);
    --card-line-color: #2A2B2C;
    --card-tile-color: rgba(16, 185, 129, 0.5);
    --card-hover-border-color: rgba(255, 255, 255, 0.2);
    --card-hover-box-shadow-1: rgba(0, 0, 0, 0.04);
    --card-hover-box-shadow-1-y: 5px;
    --card-hover-box-shadow-1-blur: 10px;
    --card-hover-box-shadow-2: rgba(0, 0, 0, 0.3);
    --card-hover-box-shadow-2-y: 15px;
    --card-hover-box-shadow-2-blur: 25px;
    --card-hover-icon-color: #34D399;
    --card-hover-icon-background-color: rgba(52, 211, 153, 0.1);
    --card-hover-icon-border-color: rgba(52, 211, 153, 0.2);
  }
 
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
 
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
 
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}




